<div class="container ui segment outer css-selector">

<section class="bg-light py-5 py-xl-6">
  <div class="container mb-4 mb-md-5 mb-xl-6">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-xxl-8">
        <img class="img-fluid rounded shadow" loading="lazy" src="../../../assets/computer.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="container overflow-hidden">
    <div class="row gy-2 gy-md-0 justify-content-xxl-center">
      <div class="col-12 order-md-1 col-md-8 col-xxl-6">
        <div class="text-center text-md-start">
          <h2 class="display-3 fw-bold lh-1">HASHAN WALAUWATTA</h2>
          <p class="text-secondary fs-4 mb-2">Software Developer | Graphic Designer</p>
          <hr class="w-25 mx-auto ms-md-0 mb-4 text-secondary">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora enim quas pariatur molestiae delectus aspernatur odit eaque explicabo earum error.</p>

        </div>
      </div>
      <div class="col-12 order-md-0 col-md-4 col-xxl-4">
        <div class="text-center text-md-strat me-md-3 me-xl-5 ntnd">
          <div class="d-grid col-lg-8">
            <!-- <button class="btn btn-primary btn-lg" type="button">Download Cv</button> -->
            <button class="huge ui segment button btn-selector">Download Cv</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</div>

