@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Vina+Sans&display=swap');

.navbar{
  z-index: 1;
}
.navbar-brand{
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  font-family: 'Vina Sans', sans-serif;
  color:#000000;
}

.navbar-nav{
  margin-right: 100px;
  .nav-item{
    margin-right: 50px;
    .nav-link{
      color: #000000;
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar-brand{
   display: none;
  }
  .menu-icon{
    img{
      width: 40px;
    }
  }

}
@media only screen and (max-width: 992px) {
  .navbar-brand{
    font-size: 30px;
  }
.navbar{
  height: 215px;
  top: -30px;
}
}
@media only screen and (min-width: 992px) {
  .navbar-brand{
    font-size: 50px;
  }
.navbar{
  height: 215px;
  top: -30px;
}
.navbar-nav{
  margin-right: 0;
  .nav-item{
    margin-right: 50px;
    .nav-link{
      color: #000000;
    }
  }
}
}
